@import "styles/general.scss";
.wrapper {
  line-height: normal;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  :global {
    .anticon-file {
      font-size: 36px;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% - 37px);
  min-width: 150px;
  position: relative;
  @include icon-remove-hover;
}
.remove {
  @include icon-remove;
}
.desc {
  color: $blue;
}

.attachment {
  display: flex;
  align-items: center;
  cursor: pointer;
  .img {
    margin-left: -4;
    margin-right: 4;
  }
  .information {
    flex: 1;
    overflow: hidden;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      color: $text_right;
      font-family: "SFUIText Regular";
      text-overflow: "ellipsis";
      width: 100%;
      word-break: break-word;
    }
    .date {
      color: $text_left;
      font-family: "SFUIText Regular";
      text-overflow: "ellipsis";
      width: 100%;
      word-break: break-word;
      font-size: 12px;
    }
  }
}
