.wrapper {
  line-height: normal;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  :global {
    .anticon-file {
      font-size: 36px;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% - 37px);
  min-width: 150px;
  position: relative;
  :global {
    .remove {
      display: none;
      position: absolute;
      right: -7px;
      top: -7px;
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
    }
  }
  &:hover {
    :global {
      .remove {
        display: block;
      }
    }
  }
}
.desc {
  color: #1890ff;
}
