@import "styles/general.scss";
.wrapper {
  line-height: normal;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 16px;
  }
  :global {
    .anticon-file {
      font-size: 36px;
    }
  }
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: calc(100% - 37px);
  min-width: 150px;
  position: relative;
  @include icon-remove-hover;
}
.remove {
  @include icon-remove;
}
.desc {
  color: $blue;
}
