@font-face {
  font-family: "SFUIText Regular";
  font-style: normal;
  font-weight: normal;
  src: local("SFUIText Regular"), url("/assets/fonts/SFUIText-Regular.woff") format("woff");
}
@font-face {
  font-family: "SFUIText Medium";
  font-style: normal;
  font-weight: normal;
  src: local("SFUIText Medium"), url("/assets/fonts/SFUIText-Medium.woff") format("woff");
}
