$blue: #1890ff;

@mixin icon-remove {
  display: none;
  position: absolute;
  right: -7px;
  top: -7px;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}
@mixin icon-remove-hover {
  &:hover {
    > .remove {
      display: block;
    }
  }
}
