$blue: #1890ff;
$title_color: #262626;
$text_left: #8c8c8c;
$text_right: #595959;

@mixin icon-remove {
  display: none;
  position: absolute;
  right: -7px;
  top: 0px;
  cursor: pointer;
  &:hover {
    color: $blue;
  }
}
@mixin icon-remove-hover {
  &:hover {
    > .remove {
      display: block;
    }
  }
}
