@import "styles/general.scss";
.menu {
  :global {
    .ant-typography {
      cursor: pointer;
      &:hover {
        color: $blue;
      }
      &.active {
        color: $blue;
      }
    }
  }
}
