.form {
  width: 633px;
  margin: 0 auto;
}
.wrapper {
  height: 100%;
  overflow: scroll;
  padding: 24px 0;
}
.organization {
  position: relative;
  :global {
    .remove {
      display: none;
      position: absolute;
      right: -7px;
      top: -7px;
      cursor: pointer;
      &:hover {
        color: #1890ff;
      }
    }
  }
  &:hover {
    :global {
      .remove {
        display: block;
      }
    }
  }
}
