.table {
  //height: 100%;
  flex: 1;
  :global {
    .ant-table-wrapper {
      height: 100%;
      background: #ffffff;
      .ant-spin-nested-loading {
        height: 100%;
        .ant-spin-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          // .ant-table-small {
          //   border-radius: unset;
          // }
          .ant-table {
            height: 100%;
            &.ant-table-empty {
              .ant-table-body {
                max-height: 0 !important ;
              }
            }
            .ant-table-scroll {
              height: 100%;
              display: flex;
              flex-direction: column;
              .ant-table-thead,
              .ant-table-body {
                tr {
                  td,
                  th {
                    padding: 12px 8px;
                  }
                }
              }
              .ant-table-header {
                background: #fafafa;
                overflow-y: hidden !important;
              }
              .ant-table-body {
                flex: 1;
                .ant-table-row {
                  cursor: pointer;
                  &.not_viewed {
                    font-weight: 600;
                  }
                }
              }
              .ant-table-placeholder {
                flex: 1;
              }
            }
            // .ant-table-row {
            //   cursor: pointer;
            // }
            // .not_viewed {
            //   font-weight: 600;
            // }
            .ant-table-content {
              height: 100%;
            }
          }
          .ant-pagination {
            align-self: flex-end;
          }
        }
      }
    }
  }
}
