@import "styles/general.scss";
.list {
  padding: 12px 0px 0 0px;
  :global {
    .ReactVirtualized__List {
      padding: 0 24px;
    }
  }
}
.container {
  flex: 1;
}
.wrapper {
  height: 100%;
  width: 100%;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 0 24px;
}
.item {
  display: flex;
  align-items: center;
  :global {
    .ant-typography {
      cursor: pointer;
      &:hover {
        color: $blue;
      }
    }
    .anticon {
      color: $blue;
      padding-left: 5px;
    }
  }
}
