.titleLeft {
  color: #262626;
  font-family: "SFUIText Medium";
}

.infoLeft {
  color: #8c8c8c;
  font-family: "SFUIText Regular";
}

.titleRight,
.infoRight {
  color: #595959;
  font-family: "SFUIText Regular";
}
