@import "styles/general.scss";
.close {
  color: #bfbfbf;
  position: absolute;
  left: 4px;
  top: 4px;
  &:hover {
    color: #40a9ff;
  }
}

.ecp {
  width: 22px;
  margin-right: 8px;
}

.chain {
  color: $blue;
  &:hover {
    color: #40a9ff;
  }
}

.caret {
  color: $blue;
  &:hover {
    color: #40a9ff;
  }
}
