// @import "~react-virtualized/styles.css";
@import "~antd/dist/antd.css";
body {
  overflow: hidden;
}
#root {
  width: 100%;
  height: 100%;
}

.ReactVirtualized__List {
  outline: 0;
}
.ant-form-item-label,
.ant-form-item-control {
  line-height: normal;
}
